[Unit]
Description=Phosphor Hwmon PECI DIMM Temperature
After=xyz.openbmc_project.ObjectMapper.service

[Service]
Type=simple
Restart=on-failure
EnvironmentFile=/etc/default/obmc/hwmon/peci-dimm.conf
ExecStart=/usr/bin/phosphor-hwmon-readd -i PECI_DIMM -p /sys/class/hwmon/hwmon1
SyslogIdentifier=phosphor-hwmon-peci-dimm

[Install]
WantedBy=multi-user.target
